*.ncb
*.suo
*.vcproj.*
/Debug
/Release
/build
/config.*
/makeobj/makeobj
/makeobj/makeobj.exe
*sim
*.*~
*.diff
*.orig
*.rej
.build/
/simutrans/*pak*
/simutrans/pak*
/simutrans/text
*.bdf
*.zip
*.vcxproj
*.vcxproj.*
/ipch/*
*.*sdf

